name: Docker
on:
  push:
    branches:
    - main
  # We want to monthly update the base image for security
  # TODO Can we avoid building the same image?
  schedule:
    # min hour dom month dow
    - cron: '42 3 2 * *'
  workflow_dispatch:
permissions:
  contents: write  # For the tag creation
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - torch: '1.13.1'
          python: '3.10.10'
        - torch: '1.13.1'
          python: '3.10.10-slim'
        - torch: '1.13.1+cpu'
          python: '3.10.10'
          extra-index-url: 'https://download.pytorch.org/whl/cpu'
        - torch: '1.13.1'
          python: '3.10.11'
        - torch: '1.13.1'
          python: '3.10.11-slim'
        - torch: '1.13.1+cpu'
          python: '3.10.11'
          extra-index-url: 'https://download.pytorch.org/whl/cpu'
        - torch: '2.0.0'
          python: '3.11.3'
        - torch: '2.0.0'
          python: '3.11.3-slim'
        - torch: '2.0.0+cpu'
          python: '3.11.3'
          extra-index-url: 'https://download.pytorch.org/whl/cpu'
    steps:
    - id: created
      run: echo "created=$(date --utc +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_OUTPUT

    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@f03ac48505955848960e80bbb68046aa35c7b9e7 # v2.4.1

    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
      if: github.ref == 'refs/heads/main'
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Tag
      id: build-tag
      # Tags have limited set of valid character, '+' not included
      # https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pulling-manifests
      run: |
        echo "tag=$(echo -n "${{ matrix.torch }}-${{ matrix.python }}" | tr -c 'a-zA-Z0-9._-' '[-*]')" >> $GITHUB_OUTPUT

    - uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671 # v4.0.0
      with:
        context: .
        push: ${{ github.ref == 'refs/heads/main' }}
        build-args: |
          CREATED=${{ steps.created.outputs.created }}
          SOURCE_COMMIT=${{ github.sha }}
          PYTHON=${{ matrix.python }}
          TORCH=${{ matrix.torch }}
          TORCH_REQUIREMENT=${{ matrix.url || format('torch=={0}', matrix.torch) }}
          EXTRA_INDEX_URL=${{ matrix.extra-index-url }}
        # TODO add the latest tag, maybe somehow via docker/metadata-action
        tags: |
          okoko/python-torch:${{ steps.build-tag.outputs.tag }}
        # https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#github-cache
        cache-from: type=gha,scope=${{ matrix.torch }}-${{ matrix.python }}
        cache-to: type=gha,scope=${{ matrix.torch }}-${{ matrix.python }},mode=max

    # With org.opencontainers.image.source pointing to this repository Dockerfile FROM updates in pull requests can be scanned
    # if the commits have matching tags with the image.
    # https://github.blog/changelog/2023-04-13-dependabot-now-supports-fetching-release-notes-and-changelogs-for-docker-images/
    # https://octokit.github.io/rest.js/v19#git-create-ref
    # https://octokit.github.io/rest.js/v19#git-update-ref
    - name: Tag the commit or update tag
      uses: actions/github-script@v6
      with:
        script: |
          try {
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ steps.build-tag.outputs.tag }}',
              sha: context.sha,
            });
          } catch(e) {
            if (e.status === 422) {
              github.rest.git.updateRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: 'refs/tags/${{ steps.build-tag.outputs.tag }}',
                sha: context.sha,
                force: true,
              });
            }
          }

  # Can not use Personal Access Token to update the README. Returns FORBIDDEN.
  describe:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v3
    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@93b93397c27ed52b4055b8c6b2f8d92456ab3c56 # v3.1.2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        repository: okoko/python-torch
