# This requires
# vars.DOCKERHUB_USERNAME for the result image account
# secrets.DOCKERHUB_USERNAME for the login account that pushes the image
# secrets.DOCKERHUB_TOKEN password for the login account password that pushes the image

name: Build PyTorch Wheel
on:
  workflow_dispatch:
    inputs:
        pytorch-version:
            description: 'Version of pytorch to build (e.g. 2.10.0)'
            required: true
            default: '2.10.0'
            type: string
        push-to-registry:
            description: 'Push image to registry'
            required: true
            type: boolean
            default: true

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build-pytorch-wheel:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 1439  # GITHUB_TOKEN expires in 24 hours, so keep it just below that
    steps:
    - name: Print Inputs
      run: echo "${{ toJSON(inputs) }}"

    - id: created
      run: echo "created=$(date --utc +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_OUTPUT

    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

    - name: Log in to Docker Hub
      uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
      if: github.ref == 'refs/heads/main'
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Discover cache path
      # A runner can have custom variables in .env file, but they show only in
      # the shell environment, not in the env context. Detect and set in env
      # context with a fallback to a default path next to tool cache.
      run: |
        [ -z "$CACHE_PATH" ] && CACHE_PATH=$(realpath "$RUNNER_TOOL_CACHE/../_cache")
        echo "CACHE_PATH=$CACHE_PATH" >> "$GITHUB_ENV"
        mkdir -p "$CACHE_PATH"

    - uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
      id: push
      with:
        context: .
        file: ./torch-wheel.Dockerfile
        push: ${{ inputs.push-to-registry || false }}
        build-args: |
          PYTORCH_BUILD_VERSION=${{ inputs.pytorch-version }}
        tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/torch-wheels:${{ inputs.pytorch-version }}
        labels: |
          org.opencontainers.image.created=${{ steps.created.outputs.created }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.version=${{ inputs.pytorch-version }}
        platforms: linux/amd64,linux/arm64
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Attest
      uses: actions/attest-build-provenance@v2
      if: ${{ inputs.push-to-registry }}
      with:
        subject-name: index.docker.io/${{ vars.DOCKERHUB_USERNAME }}/torch-wheels
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
